body{
	padding: 0;
	margin: 0;
	font-family: Verdana;
	background-color: #c9c9c9;
}

.formulario{
	margin: 40px auto;
	padding: 20px;
	width: 500px;
	border: 5px solid #e8e8e8;
	border-radius: 10px;
	text-align: center;
}

.input{
	width: 95%;
	height: 30px;
	border: 5px solid #e8e8e8;
	border-radius: 10px;	
}

.topo{
	max-width: 980px;
	height: 250px;
	margin: auto;
	border: 5px solid #fff;
	border-radius: 5px;
	background-image: url('http://localhost:8080/projetos_github/hora-extra/assets/imagens/banner.jpg');
  	background-position: center center;
}

.menu{
	margin-top: 20px;
	text-align: center;
	padding-top: 180px;
}

input, button, select{
	width: 200px;
	height: 30px;
	border: 5px solid #e8e8e8;
	border-radius: 10px;	
}
select{
	display: block;
	margin: auto;
	height: 40px;
}
option{
	margin: 5px;
}

button{
	display: block;
	margin: auto;
	width: 80%;
	height: 60px;
	background: #b8d3f9;
}

ul{
	margin: 0;
	padding: 0;
	background: #fff;
	height: 50px;
}

li{
	line-height: 50px;
	list-style: none;
	display: inline;
	margin: 10px;
	color: #434359;
	
}

li:hover{
	color: #996666; /*e1e1f4;*/
	cursor: pointer;
}
a{
	text-decoration: none;

}

.container{
	max-width: 960px;
	min-height: 400px;
	background-color: #ededed;
	margin: auto;
	margin-top: 5px;
	border: 5px solid #fff;
	border-radius: 5px;
	padding: 10px;
}